body {
    background-color: #EBEBEB;
    font-family: 'Raleway', sans-serif;
    color: #00069F;
    margin: 0px;
}
.toolbar {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
}
.searchbar {
    margin: 5px;
}
.icons {
    margin-left: auto;
    width: fit-content;
}
.secondarybar {
    margin: 0px;
    background-color: white;
    padding: 20px;
}
#historybar {
    margin: 0px;
    background-color: #FFEDBE;
    padding: 20px;
    font-size: 12pt;
}
#historytitle {
    font-size: 18pt;
}
.historybook {
    width: 120px;
}
.explorebook {
    width: 240px;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #00069F;
}
.title {
    font-size: 24pt;
}
.filter {
    justify-content: left;
}
.filtertypes {
    text-align: right;
}
.block {
    padding: 15px;
    display: flex;
}
.blockimg {
    width: 20%;
}
.bookimg {
    max-width: 100%;
}
.blocktitle {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 24px;
    width: 70%;
}
.username {
    padding-bottom: 5px;
    font-size: 20px;
    color: black;
}
.user {
    display: flex;
}
.lcbar {
    width: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
    color: black;
}
.icon {
    width: 40px;
    max-width: 100%;
}
.notiftext {
    font-size: 14pt;
    color: black;
    padding: 30px;
}
.date {
    font-size: 20px;
    color: black;
}
.smallicon {
    width: 20px;
}
.lcspace {
    width: 10%;
}
table {
    padding-top: 20px;
}
td {
    padding: 10px 40px;
    text-align: center;
}