body {
    font-family: 'Raleway', sans-serif;
    color: #00069F;
    margin: 0px;
}
.toolbar {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
}
.searchbar {
    margin: 5px;
}
.icons {
    margin-left: auto;
    width: fit-content;
}
.secondarybar {
    margin: 0px;
    background-color: white;
    padding: 20px;
}
#historybar {
    margin: 0px;
    background-color: #FFEDBE;
    padding: 15px;
    font-size: 12pt;
}
.profilescroll {
    padding: 15px;
    font-size: 12pt;
}
.homesubtitle {
    padding: 12px;
    font-size: 18pt;
}
.historybook {
    width: 120px;
}
.explorebook {
    width: 240px;
}
.exploretext {
    font-size: 24pt;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #00069F;
}
.title {
    font-size: 20pt;
}
.filter {
    justify-content: left;
}
.filtertypes {
    text-align: right;
}
.block {
    background-color: #EBEBEB;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #999999;
}
.blockimg {
    width: 20%;
}
.bookimg {
    max-width: 100%;
}
.blocktitle {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 24px;
    flex-direction: column;
    width: 100%;
}
.username {
    font-size: 20px;
    color: black;
}
.user {
    display: flex;
}
.lcbar {
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 15px;
    color: black;
}
.icon {
    width: 40px;
    max-width: 100%;
}
.notiftext {
    font-size: 14pt;
    color: black;
    padding: 30px;
}
.date {
    font-size: 20px;
    color: black;
}
.smallicon {
    width: 20px;
}
.lcspace {
    width: 10%;
}
table {
    padding-top: 20px;
    padding-left: 10px;
}
td {
    padding: 0px 40px;
    text-align: center;
}
.bookbar {
    background-color: white;
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #999999;
}
.bookbar a {
    text-decoration: none;
}
.bookcurrent {
    background-color: #00069F;
    color: white;
}
.bookbutton {
    padding: 10px 20px;
}
.bookbutton:hover {
    background-color: #777;
}
.bookbutton:hover a {
    color: white;
}
.bookcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book {
    margin-top: 30px;
    width: 300px;
    max-width: 70%;
}
#booktitle {
    margin-top: 10px;
    font-size: 30px;
}
.bookinfo {
    display: flex;
    justify-content: center;
}
#leftinfo {
    text-align: left;
    width: 40%;
}
#rightinfo {
    text-align: right;
}
#summary {
    max-width: 70%;
}
p {
    font-size: 14pt;
    margin-right: 5px;
}
.pill {
    display: flex;
    padding: 10px 15px;
    height: 20px;
    max-width: max-content;
    text-align: center;
    border-radius: 15px;
    background-color: #00069F;
    color: white;
    margin: 10px;
    float: right;
    clear: right;
}
.ratingimg {
    display: flex;
    justify-content: center;
    margin: 10px;
}
#stars {
    height: 40px;
}
#graph {
    width: 60%;
}
#ratingtitle {
    font-size: 40px;
    text-align: left;
    width: 35%;
}
.discclick {
    cursor: pointer;
}
.tagbox {
    padding: 20px;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;;
}
.tag {
    display: inline;
    padding: 5px 10px;
    height: 20px;
    max-width: max-content;
    text-align: center;
    border-radius: 15px;
    background-color: #EBEBEB;
    color: #00069F;
    margin: 10px 5px;
}
.sduser {
    margin-top: 5px;
    margin-bottom: 10px;
}
.comment {
    margin: 5px;
    padding: 10px;
    border-left: 1px solid #777;
    background-color: #EBEBEB;
}
.lccomment {
    margin-top: 10px;
    padding-bottom: 15px;
    color: black;
}
.postbutton {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.postbutton a {
    text-decoration: none;
    color: #EBEBEB;
    background-color: #00069F;
    max-width: max-content;
    text-align: center;
    border-radius: 30px;
    height: 30px;
    padding: 5px 10px;
}
#previewtagbox {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0px;
}
.reviewtitle {
    margin-bottom: 10px;
    font-size: 20px;
}
.reviewblock {
    flex-direction: column;
}
.reviewstars {
    height:18px;
}
#userbox {
    margin-top: 30px;
    text-align: center;
}
#bigicon {
    width: 30%;
    margin: 20px;
}
.gray {
    background-color: #EBEBEB;
}
#recommendedbook {
    padding-left: 20px;
    padding-bottom: 15px;
    width: 140px;
}